@model List<Movie>

@{
}

<table class="table table-bordered">
    <thead class="fw-bold">
    <tr>
        <td>Movie Title</td>
        <td>Category</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>Copied to Plex</td>
        <td>Notes</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Title</td>
            <td>@x.Category.CategoryName</td>
            <td>@x.Year</td>
            <td>@x.Director</td>
            <td>@x.Rating</td>
            <td>@x.Edited</td>
            <td>@x.LentTo</td>
            <td>@x.CopiedToPlex</td>
            <td>@x.Notes</td>
            <td><a class="btn btn-info" asp-controller="Home" asp-action="EditMovie" asp-route-id="@x.MovieId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@x.MovieId">Delete</a></td>
        </tr>
    }
    </tbody>
</table>